/* login  */
/* ===== LOGIN PAGE ===== */

.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(
      to right,
      rgba(0, 255, 255, 0.06),
      rgba(139, 92, 246, 0.08)
    ),
    #020817;

  position: relative;
  overflow: hidden;
}

/* Grid background */

.auth-container::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image:
    linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);

  background-size: 50px 50px;
  pointer-events: none;
}

.auth-card {
  width: 420px;
  padding: 40px;

  border-radius: 28px;

  background: rgba(15, 23, 42, 0.88);

  border: 1px solid rgba(0, 255, 255, 0.15);

  backdrop-filter: blur(18px);

  box-shadow:
    0 0 30px rgba(0, 255, 255, 0.08),
    0 0 80px rgba(139, 92, 246, 0.12);

  position: relative;
  z-index: 10;
}

.auth-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #22d3ee;
}

.auth-subtitle {
  color: #94a3b8;
  margin-bottom: 35px;
  font-size: 15px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-input-group {
  display: flex;
  flex-direction: column;
}

.auth-label {
  margin-bottom: 8px;
  color: #cbd5e1;
  font-size: 14px;
}

.auth-input {
  padding: 15px 18px;

  border-radius: 14px;

  border: 1px solid rgba(0, 255, 255, 0.1);

  background: rgba(15, 23, 42, 0.9);

  color: white;

  font-size: 15px;

  outline: none;

  transition: all 0.3s ease;
}

.auth-input:focus {
  border-color: #22d3ee;

  box-shadow: 0 0 12px rgba(34, 211, 238, 0.2);
}

.auth-btn {
  margin-top: 10px;

  padding: 15px;

  border: none;

  border-radius: 14px;

  background: linear-gradient(to right, #06b6d4, #8b5cf6);

  color: white;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.3s ease;
}

.auth-btn:hover {
  transform: translateY(-2px);

  box-shadow: 0 0 20px rgba(34, 211, 238, 0.25);
}

.auth-footer {
  margin-top: 25px;
  text-align: center;
  color: #94a3b8;
}

.auth-link {
  color: #22d3ee;
  text-decoration: none;
  font-weight: 600;
}

.auth-link:hover {
  text-decoration: underline;
}
